<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="co.devhub.retrievecontacts">

    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">

    </application>

</manifest>
